@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,300&family=Rubik+Dirt&family=Silkscreen:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,300&family=Rubik+Dirt&family=Silkscreen:wght@700&family=Ubuntu&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  width: 100vw; 
  background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8));
  background-repeat: none;
  background-size: 100%;
  display: grid;
  grid-template: .6fr .6fr 6fr/ 1fr;
  
}

#nav {
  position: sticky;
  width: 100%;
  grid-row: 1/2;
  grid-column: 1/2;
  color: #fff;
  display: grid;
  grid-template: 1fr/ 4fr .8fr;
  align-items: center;
  justify-content: center;
  background-color: rgba(255,255,255,0.2);
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid #999;
}

#nav-left {
  font-size: 2rem;
  font-weight: 900;
  font-family: 'Silkscreen', cursive;
}

#nav-right {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template: 1fr / repeat(2, 1fr);
  font-weight: 900;
}

#nav-right div a {
  text-decoration: none;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
}
#nav-right div a:hover {
  color: #be1c52;
}
#content {
  width: 100%;
  min-height: 100vh;
  grid-row: 3/4;
  grid-column: 1/2;
  display: grid;
  grid-template: 1fr/ 1fr 3fr 1fr;
  align-items: center;
  justify-items: center;

}

#newBook {
  width: 100%;
  grid-row: 2/3;
  grid-column: 1/2;
  display: grid;
  align-items: center;
  justify-items: center;
}
#newBook button {
  width: 10%;
  height: 50%;
  border-radius: 5px;
  border: none;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  background-color: #fff;
  color: #333;
}

#newBook button:hover {
  cursor: pointer;
  font-weight: 900;
  background-color: #333;
  color: #fff;
  border: 1px solid #fff;
}

#library {
  width: 95%;
  height: 100%;
  grid-row: 1/2;
  grid-column: 1/4;
  display: grid;
  gap: 15px;
  grid-template: repeat(auto-fit, minmax(10rem, 0.4fr)) / repeat(auto-fit, minmax(10rem, 0.20fr));
  padding: 20px;
  border-radius: 10px;
  grid-auto-flow: row;

}
.books {
  display: grid;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: .9rem;
  font-weight: 500;
  color: #444;
  background-color: #fff;
  box-shadow: 5px 5px 5px #222;
  margin: 5px;
  
}


.bookSection {
  padding: 2px;
}


#form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  background-color: rgb(236, 228, 228);
  padding: 1rem;
  font-family: 'Ubuntu', sans-serif;
  border-radius: 3px;

}

form {  
  width: 500px;
  height: 400px;
  padding: .5rem;
  display: grid;
  border-radius: 2px;
}

h2, h4 {
  text-align: center;
}

.info {
  display: grid;
  padding-left: 20px;
  padding-right: 20px;
}

.info input {
  width: 100%;
  border: 1px solid #999;
  border-radius: 3px;
  padding-left: 10px;
  border: none;
}

.info label {
  margin-top: 10px;

}

#book-status {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

#book-status input {
  margin-right: 5px;
}

#form-submit {
  display: flex;
  justify-content: center;
  align-items: center;
}

#submitBtn, #closeForm {
  width: 30%;
  height: 70%;
  margin: .5rem;
  font-size: 16px;
  font-weight: 900;
}

#submitBtn {
  background-color: rgb(97, 174, 236);
  height: 50%;
  border: none;
  border-radius: 5px;
  color: #fff;
}

#closeForm {
  background-color: rgb(212, 84, 84);
  height: 50%;
  border: none;
  border-radius: 5px;
  color: #fff;
}

.deleteBook {
  font-size: 1rem;
  font-weight: 900;
  border: none;
  border-radius: 5px;
  background-color: rgb(180, 81, 81);
  color: #fff;
  height: 90%;
}

.deleteBook:hover {
  cursor: pointer;
  transform: scale(0.98);
  background-color: rgb(121, 26, 26);
}
#submitBtn:hover {
  cursor: pointer;
  background-color: rgb(13, 58, 95);
  outline: 1px solid rgb(97, 174, 236);;
}
#closeForm:hover {
  cursor: pointer;
  background-color: rgb(121, 26, 26);
  outline: 1px solid rgb(212, 84, 84);
}
#footer {

}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  margin-right: 4px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #1cbe65;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

@media only screen and (max-width: 700px) {
  #logo {
    font-size: 1rem;
  }
  #nav {
    grid-template: 1fr/ 2fr 1fr;
  }
  #nav-right {
    font-size: .8rem;
  }
  #nav-right div {
    margin-right: 3px;
  }
  #newBook {
    display: grid;
    justify-content: center;
    align-items: center;
  }
  #newBook button {
    width: 100%;
    padding: 5px;
    font-size: .8rem;
  }
  form {
    width: 220px;
    height: 220px;
  }
  #form-title {
    font-size: 1rem;
  }
  label {
    font-size: .8rem;
  }
  #form-submit button {
    font-size: .6rem;
  }
  #library {
    justify-content: center;
    grid-template: repeat(auto-fit, minmax(2rem, .4fr)) / repeat(auto-fit, minmax(9rem, .8fr));
  }
}